<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          <div *ngFor="let post of blogPosts" class="post col-xl-6">
            <app-post-card [post]="post"></app-post-card>
          </div>
        </div>
        <app-paging (newPage)="getPage($event)" [page]="page"></app-paging>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <div class="widget search">
        <app-search-widget></app-search-widget>
        <div class="w-100"></div>
      </div>
      <!-- Widget [Latest Posts Widget] -->
      <app-latest-posts></app-latest-posts>
      <!-- Widget [Categories Widget]-->
      <div class="widget categories">
        <app-categories></app-categories>
      </div>
      <!-- Widget [Tags Cloud Widget]-->
      <div class="widget tags">
        <app-tags></app-tags>
      </div>
    </aside>
  </div>
</div>
