<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8">
      <app-post-data></app-post-data>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <div class="widget search">
        <app-search-widget></app-search-widget>
      </div>
      <!-- Widget [Latest Posts Widget] -->
      <app-latest-posts></app-latest-posts>
      <!-- Widget [Categories Widget]-->
      <div class="widget categories">
        <app-categories></app-categories>
      </div>
      <!-- Widget [Tags Cloud Widget]-->
      <div class="widget tags">
        <app-tags></app-tags>
      </div>
    </aside>
  </div>
</div>
